<a href="https://colab.research.google.com/github/SangMini2/MachineLearning_for_AI/blob/main/Week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [4]:
import pandas as pd
import numpy as np

In [5]:
weather = pd.read_csv('data/weather_by_station.csv', index_col='date', parse_dates=True)
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039    0.0           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015    0.0  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017    0.0        GLEN ROCK 0.7 SSE, NJ US

In [6]:
weather.index

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='date', length=80256, freq=None)

In [7]:
weather["value"]

date
2018-01-01      0.0
2018-01-01      0.0
2018-01-01      0.0
2018-01-01      0.0
2018-01-01      0.0
              ...
2018-12-31    130.0
2018-12-31      9.8
2018-12-31     12.5
2018-12-31      1.0
2018-12-31      1.0
Name: value, Length: 80256, dtype: float64

In [8]:
weather[weather.index.to_period("Q") == "2018q1"]

,datatype,station,value,station_name
date,,,,
2018-01-01,PRCP,GHCND:US1CTFR0039,0.0,"STAMFORD 4.2 S, CT US"
2018-01-01,PRCP,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US"
2018-01-01,SNOW,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US"
2018-01-01,PRCP,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US"
2018-01-01,SNOW,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US"
...,...,...,...,...
2018-03-31,TMIN,GHCND:USW00094789,2.8,"JFK INTERNATIONAL AIRPORT, NY US"
2018-03-31,WDF2,GHCND:USW00094789,190.0,"JFK INTERNATIONAL AIRPORT, NY US"
2018-03-31,WDF5,GHCND:USW00094789,190.0,"JFK INTERNATIONAL AIRPORT, NY US"
2018-03-31,WSF2,GHCND:USW00094789,11.2,"JFK INTERNATIONAL AIRPORT, NY US"
2018-03-31,WSF5,GHCND:USW00094789,14.3,"JFK INTERNATIONAL AIRPORT, NY US"

In [9]:
weather.index.to_period("Q").strftime("%Yq%q")

Index(['2018q1', '2018q1', '2018q1', '2018q1', '2018q1', '2018q1', '2018q1',
       '2018q1', '2018q1', '2018q1',
       ...
       '2018q4', '2018q4', '2018q4', '2018q4', '2018q4', '2018q4', '2018q4',
       '2018q4', '2018q4', '2018q4'],
      dtype='object', name='date', length=80256)

In [10]:
weather.query("datatype == 'PRCP'")

,datatype,station,value,station_name
date,,,,
2018-01-01,PRCP,GHCND:US1CTFR0039,0.0,"STAMFORD 4.2 S, CT US"
2018-01-01,PRCP,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US"
2018-01-01,PRCP,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US"
2018-01-01,PRCP,GHCND:US1NJBG0018,0.0,"PALISADES PARK 0.2 WNW, NJ US"
2018-01-01,PRCP,GHCND:US1NJBG0023,0.0,"OAKLAND 0.9 SSE, NJ US"
...,...,...,...,...
2018-12-31,PRCP,GHCND:USW00054787,28.7,"FARMINGDALE REPUBLIC AIRPORT, NY US"
2018-12-31,PRCP,GHCND:USW00094728,25.9,"NY CITY CENTRAL PARK, NY US"
2018-12-31,PRCP,GHCND:USW00094741,29.2,"TETERBORO AIRPORT, NJ US"
2018-12-31,PRCP,GHCND:USW00094745,24.4,"WESTCHESTER CO AIRPORT, NY US"
2018-12-31,PRCP,GHCND:USW00094789,31.2,"JFK INTERNATIONAL AIRPORT, NY US"

In [11]:
df = weather.query('datatype == "PRCP"').groupby(level = 0).sum()
"""groupby의 level 은 index의 몇 번째로 group지을건지를 말하는 것이다"""

'groupby의 level 은 index의 몇 번째로 group지을건지를 말하는 것이다'

In [12]:
weather.groupby(level = 0).describe()

            value
            count       mean         std   min    25%    50%      75%     max
date
2018-01-01  238.0  40.923109  168.967903 -22.2  0.000   0.00    0.450  1455.0
2018-01-02  240.0  30.257500  127.412834 -20.0  0.000   0.00    0.000  1222.0
2018-01-03  244.0  26.331148  162.042163 -16.1  0.000   0.00    0.000  2323.0
2018-01-04  265.0  63.741509  212.033243 -15.6  0.000   4.10   23.700  2036.0
2018-01-05  264.0  90.025379  151.332205 -17.2  5.525  16.75  152.000  1349.0
...           ...        ...         ...   ...    ...    ...      ...     ...
2018-12-27  220.0  44.237727  249.339845  -2.8  0.000   0.00    2.800  2324.0
2018-12-28  214.0  42.480374  182.209701  -2.8  0.000   6.10   12.075  1722.0
2018-12-29  208.0  58.230769  210.316879   0.0  0.000  12.50   21.725  1550.0
2018-12-30  220.0  30.024091  131.881434  -2.1  0.000   0.00    2.250  1306.0
2018-12-31  241.0  44.844813  264.858518  -3.3  0.000   0.00    3.900  2212.0

[365 rows x 8 columns]

In [13]:
dp = weather.query('datatype == "PRCP"').groupby(level = 0).mean()
dp

                value
date
2018-01-01   0.000000
2018-01-02   0.000000
2018-01-03   0.000000
2018-01-04   4.916071
2018-01-05  12.303571
...               ...
2018-12-27   0.000000
2018-12-28  10.462025
2018-12-29  18.655263
2018-12-30   0.063514
2018-12-31   4.128767

[365 rows x 1 columns]

In [14]:
dp.index.to_period("Q")

PeriodIndex(['2018Q1', '2018Q1', '2018Q1', '2018Q1', '2018Q1', '2018Q1',
             '2018Q1', '2018Q1', '2018Q1', '2018Q1',
             ...
             '2018Q4', '2018Q4', '2018Q4', '2018Q4', '2018Q4', '2018Q4',
             '2018Q4', '2018Q4', '2018Q4', '2018Q4'],
            dtype='period[Q-DEC]', name='date', length=365)

In [15]:
Q1 = dp[dp.index.to_period("Q") == "2018Q1"].sum()
Q2 = dp[dp.index.to_period("Q") == "2018Q2"].sum()
Q3 = dp[dp.index.to_period("Q") == "2018Q3"].sum()
Q4 = dp[dp.index.to_period("Q") == "2018Q4"].sum()

In [16]:
idx = ["Q1","Q2","Q3","Q4"]

result = pd.DataFrame(index = idx, data = {"Quarter_sum" : [Q1.value,Q2.value,Q3.value,Q4.value]})
result

    Quarter_sum
Q1   364.885769
Q2   334.893094
Q3   546.518380
Q4   473.972345

In [17]:
Q1 = dp[dp.index.to_period("Q") == "2018Q1"].mean()
Q2 = dp[dp.index.to_period("Q") == "2018Q2"].mean()
Q3 = dp[dp.index.to_period("Q") == "2018Q3"].mean()
Q4 = dp[dp.index.to_period("Q") == "2018Q4"].mean()
result = pd.DataFrame(index = idx, data = {"Quarter_mean" : [Q1.value,Q2.value,Q3.value,Q4.value]})
result

    Quarter_mean
Q1      4.054286
Q2      3.680144
Q3      5.940417
Q4      5.151873

In [18]:
Q1 = dp[dp.index.to_period("Q") == "2018Q1"].count()
Q2 = dp[dp.index.to_period("Q") == "2018Q2"].count()
Q3 = dp[dp.index.to_period("Q") == "2018Q3"].count()
Q4 = dp[dp.index.to_period("Q") == "2018Q4"].count()
result = pd.DataFrame(index = idx, data = {"Quarter.days.counts" : [Q1.value,Q2.value,Q3.value,Q4.value]})
result

    Quarter.days.counts
Q1                   90
Q2                   91
Q3                   92
Q4                   92

In [19]:
Q1 = df[df.index.to_period("Q") == "2018Q1"].sum()
Q2 = df[df.index.to_period("Q") == "2018Q2"].sum()
Q3 = df[df.index.to_period("Q") == "2018Q3"].sum()
Q4 = df[df.index.to_period("Q") == "2018Q4"].sum()

result = pd.DataFrame(index = idx, data = {"Quarter_sum" : [Q1.value,Q2.value,Q3.value,Q4.value]})
result

    Quarter_sum
Q1      27669.5
Q2      27086.3
Q3      44436.5
Q4      38571.3

In [20]:
Q1 = df[df.index.to_period("Q") == "2018Q1"].mean()
Q2 = df[df.index.to_period("Q") == "2018Q2"].mean()
Q3 = df[df.index.to_period("Q") == "2018Q3"].mean()
Q4 = df[df.index.to_period("Q") == "2018Q4"].mean()
result = pd.DataFrame(index = idx, data = {"Quarter_mean" : [Q1.value,Q2.value,Q3.value,Q4.value]})
result

    Quarter_mean
Q1    307.438889
Q2    297.651648
Q3    483.005435
Q4    419.253261

In [21]:
df[df.index.to_period("Q") == "2018Q1"].mean()

value    307.438889
dtype: float64

In [22]:
dp[dp.index.to_period("Q") == "2018Q1"]

                value
date
2018-01-01   0.000000
2018-01-02   0.000000
2018-01-03   0.000000
2018-01-04   4.916071
2018-01-05  12.303571
...               ...
2018-03-27   0.031429
2018-03-28   1.308861
2018-03-29   0.301316
2018-03-30   0.986076
2018-03-31   1.090141

[90 rows x 1 columns]

In [23]:
Q1 = df[df.index.to_period("Q") == "2018Q1"].count()
Q2 = df[df.index.to_period("Q") == "2018Q2"].count()
Q3 = df[df.index.to_period("Q") == "2018Q3"].count()
Q4 = df[df.index.to_period("Q") == "2018Q4"].count()
result = pd.DataFrame(index = idx, data = {"Quarter.days.counts" : [Q1.value,Q2.value,Q3.value,Q4.value]})
result

    Quarter.days.counts
Q1                   90
Q2                   91
Q3                   92
Q4                   92

In [24]:
weather.query('datatype == "PRCP"').groupby(
    [pd.Grouper(freq='Q')]
).sum()

              value
date
2018-03-31  27669.5
2018-06-30  27086.3
2018-09-30  44436.5
2018-12-31  38571.3

In [25]:
weather.query('datatype == "PRCP"').groupby(level = 0).mean().groupby(
    [pd.Grouper(freq='Q')]
).mean()

               value
date
2018-03-31  4.054286
2018-06-30  3.680144
2018-09-30  5.940417
2018-12-31  5.151873

In [26]:
weather.query('datatype == "PRCP"').groupby(level = 0).mean().groupby(
    [pd.Grouper(freq='Q')]
).sum()

                 value
date
2018-03-31  364.885769
2018-06-30  334.893094
2018-09-30  546.518380
2018-12-31  473.972345

In [27]:
new_df = weather.query('datatype == "PRCP"').groupby(level = 0).mean()

In [28]:
new_df.head()

                value
date
2018-01-01   0.000000
2018-01-02   0.000000
2018-01-03   0.000000
2018-01-04   4.916071
2018-01-05  12.303571

In [29]:
from datetime import datetime

In [30]:
new_df[0:3]

            value
date
2018-01-01    0.0
2018-01-02    0.0
2018-01-03    0.0

In [31]:
new_df[3:4]

               value
date
2018-01-04  4.916071

In [32]:
new_df[3:4].index.format("%yyyy-%mm-%dd")[1]

'2018-01-04'

In [33]:
dic = {}

In [34]:
for i in range(len(new_df)-2) :
  start = new_df[i:i+1].index.format("%yyyy-%mm-%dd")[1]
  end = new_df[i+2:i+3].index.format("%yyyy-%mm-%dd")[1]
  idx = str(start) + "~" + str(end)
  dic[idx] = new_df[i:i+3].mean()

In [35]:
rolling = pd.DataFrame(data = dic)
rolling

,2018-01-01~2018-01-03,2018-01-02~2018-01-04,2018-01-03~2018-01-05,2018-01-04~2018-01-06,2018-01-05~2018-01-07,2018-01-06~2018-01-08,2018-01-07~2018-01-09,2018-01-08~2018-01-10,2018-01-09~2018-01-11,2018-01-10~2018-01-12,...,2018-12-20~2018-12-22,2018-12-21~2018-12-23,2018-12-22~2018-12-24,2018-12-23~2018-12-25,2018-12-24~2018-12-26,2018-12-25~2018-12-27,2018-12-26~2018-12-28,2018-12-27~2018-12-29,2018-12-28~2018-12-30,2018-12-29~2018-12-31
value,0.0,1.63869,5.739881,5.750833,4.112143,0.044286,0.134247,0.134247,0.100913,1.066667,...,17.978029,17.746948,6.664708,0.818791,0.790938,0.070853,3.49012,9.705763,9.726934,7.615848

In [36]:
rolling.transpose()

                          value
2018-01-01~2018-01-03  0.000000
2018-01-02~2018-01-04  1.638690
2018-01-03~2018-01-05  5.739881
2018-01-04~2018-01-06  5.750833
2018-01-05~2018-01-07  4.112143
...                         ...
2018-12-25~2018-12-27  0.070853
2018-12-26~2018-12-28  3.490120
2018-12-27~2018-12-29  9.705763
2018-12-28~2018-12-30  9.726934
2018-12-29~2018-12-31  7.615848

[363 rows x 1 columns]

In [37]:
#corsstab

In [38]:
stock_data_per_minute = pd.read_csv("data/fb_week_of_may_20_per_minute.csv", index_col = 'date' , parse_dates = True,
            date_parser = lambda x : pd.to_datetime(x, format = "%Y-%m-%d %H-%M"))
stock_data_per_minute.head()

                         open      high       low     close    volume
date
2019-05-20 09:30:00  181.6200  181.6200  181.6200  181.6200  159049.0
2019-05-20 09:31:00  182.6100  182.6100  182.6100  182.6100  468017.0
2019-05-20 09:32:00  182.7458  182.7458  182.7458  182.7458   97258.0
2019-05-20 09:33:00  182.9500  182.9500  182.9500  182.9500   43961.0
2019-05-20 09:34:00  183.0600  183.0600  183.0600  183.0600   79562.0

In [39]:
stock_data_per_minute.groupby(pd.Grouper(freq = "1D")).agg({
    "open" : "first",
    "high" : "max",
    "low" : "min",
    "close" : "last",
    'volume' : 'sum'})

              open      high       low   close      volume
date
2019-05-20  181.62  184.1800  181.6200  182.72  10044838.0
2019-05-21  184.53  185.5800  183.9700  184.82   7198405.0
2019-05-22  184.81  186.5603  184.0120  185.32   8412433.0
2019-05-23  182.50  183.7300  179.7559  180.87  12479171.0
2019-05-24  182.33  183.5227  181.0400  181.06   7686030.0

In [40]:
fb = pd.read_csv('data/fb_2018.csv', index_col = 'date', parse_dates = True).assign(
    trading_volume = lambda x : pd.cut(x.volume, bins = 3, labels = ['low','med','high'])
)
fb.head(20)

"""cut에서 bins = 3 는 3등분으로 나누어서 최저, 최고 값을 기준으로 3등분 나눠서 라벨링"""

'cut에서 bins = 3 는 3등분으로 나누어서 최저, 최고 값을 기준으로 3등분 나눠서 라벨링'

In [41]:
fb.pivot_table(index = "trading_volume")

                     close        high         low        open        volume
trading_volume
low             171.431771  173.461040  169.306252  171.355565  2.454721e+07
med             175.143750  179.420000  172.107500  175.818125  7.907256e+07
high            168.156667  170.476667  161.573333  167.726667  1.419240e+08

In [42]:
fb.groupby('trading_volume').mean()

                      open        high         low       close        volume
trading_volume
low             171.355565  173.461040  169.306252  171.431771  2.454721e+07
med             175.818125  179.420000  172.107500  175.143750  7.907256e+07
high            167.726667  170.476667  161.573333  168.156667  1.419240e+08

In [78]:
fb

              open    high       low   close    volume trading_volume
date
2018-01-02  177.68  181.58  177.5500  181.42  18151903            low
2018-01-03  181.88  184.78  181.3300  184.67  16886563            low
2018-01-04  184.90  186.21  184.0996  184.33  13880896            low
2018-01-05  185.59  186.90  184.9300  186.85  13574535            low
2018-01-08  187.20  188.90  186.3300  188.28  17994726            low
...            ...     ...       ...     ...       ...            ...
2018-12-24  123.10  129.74  123.0200  124.06  22066002            low
2018-12-26  126.00  134.24  125.8900  134.18  39723370            low
2018-12-27  132.44  134.99  129.6700  134.52  31202509            low
2018-12-28  135.34  135.92  132.2000  133.20  22627569            low
2018-12-31  134.45  134.64  129.9500  131.09  24625308            low

[251 rows x 6 columns]

In [79]:
fb.index.name = "month"
fb.index.month.name

'month'

In [80]:
pivot = fb.pivot_table(fb , index = fb.trading_volume , columns = fb.index.month, aggfunc = "count")
pivot

               close                                      ... volume          \
month             1   2   3   4   5   6   7   8   9   10  ...     3   4   5
trading_volume                                            ...
low               20  19  15  20  22  21  18  23  19  23  ...     15  20  22
med                1   0   4   1   0   0   2   0   0   0  ...      4   1   0
high               0   0   2   0   0   0   1   0   0   0  ...      2   0   0


month           6   7   8   9   10  11  12
trading_volume
low             21  18  23  19  23  21  19
med              0   2   0   0   0   0   0
high             0   1   0   0   0   0   0

[3 rows x 60 columns]

In [81]:
pivot["close"]

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

In [82]:
pd.crosstab(index = fb.trading_volume,
            columns = fb.index.month,
            colnames = ["month"]
            )

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0